:root {
  --title-rem: 2.8rem;
  --title-icon-rem: 6rem;
  --small-rhombus-rem: 3rem;
  --large-rhombus-rem: 5rem;
  --nav-rem: 1rem;
  --xsmall-rem: 0.4rem;
  --small-rem: 1rem;
  --medium-rem: 1.2rem;
  --large-rem: 1.6rem;
  --xlarge-rem: 2.4rem;
  --xxlarge-rem: 4.2rem;
  --nav-height: 4rem;
  --nav-background-color: #12181b;
  --nav-foreground-color: #FFFFFF;
  --primary-color: #2da89e;
  --primary-color-2: #4ed0b3;
  --foreground-color: #FFFFFF;
  --background-color: #191d2b;
  --background-color-2: #2a2e35;
  --grey-color: #454e56;
  --default-transition: all .4s ease-in-out;
}

.light-theme {
  --nav-background-color: #000000;
  --nav-foreground-color: #FFFFFF;
  --primary-color: #2b93c2;
  --primary-color-2: #35bfe5;
  --foreground-color: #191d2b;
  --background-color: #dbe1e8;
  --background-color-2: #d9d9d9;
  --grey-color: #b2becd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: "Lato", sans-serif;
  font-size: var(--small-rem);
  transition: var(--default-transition);
  overflow-x: hidden;
}

nav {
  position: fixed;
  z-index: 10;
  padding: 0 var(--large-rem);
  width: 100%;
  height: var(--nav-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--nav-background-color);
  color: var(--nav-foreground-color);
}
nav .home-logo {
  height: 100%;
}
nav .home-logo a {
  height: inherit;
  font-size: var(--nav-rem);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--nav-foreground-color);
  text-decoration: none;
  transition: var(--default-transition);
}
nav .home-logo a:hover {
  color: var(--primary-color);
  transition: var(--default-transition);
}
nav ul {
  height: inherit;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav ul li {
  height: inherit;
}
nav ul li a {
  padding: var(--medium-rem);
  height: inherit;
  font-size: var(--nav-rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--nav-foreground-color);
  text-decoration: none;
  transition: var(--default-transition);
}
nav ul li a div:last-child {
  margin: 0 0 0 var(--xsmall-rem);
}
nav ul li a:hover {
  background-color: var(--primary-color);
  color: var(--nav-background-color);
  cursor: pointer;
}

main section {
  z-index: 1;
  background: linear-gradient(90deg, var(--background-color) 0%, var(--background-color-2) 100%);
}

#id-home {
  position: relative;
  padding: var(--nav-height) 0 0 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}
#id-home .grid-item-1 {
  padding: 0 5% var(--nav-height) 35%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
}
#id-home .grid-item-1 p {
  font-size: var(--large-rem);
}
#id-home .grid-item-1 h1 {
  margin: var(--small-rem) 0 var(--xlarge-rem) 0;
  font-size: var(--title-rem);
}
#id-home .grid-item-1 span {
  color: var(--primary-color);
}
#id-home .grid-item-1 .links-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
#id-home .grid-item-1 .links-container .link {
  margin: 0 0 0 var(--xlarge-rem);
}
#id-home .grid-item-2 {
  padding: 0 0 var(--nav-height) 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  transition: var(--default-transition);
}
#id-home .grid-item-2 .home-image {
  width: 100%;
  height: 80%;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
#id-home .grid-item-2 .home-image-1 {
  z-index: 2;
  transform: translateX(20%);
  background: linear-gradient(60deg, var(--primary-color) 50%, var(--primary-color-2) 100%);
  transition: var(--default-transition);
}
#id-home .grid-item-2 .home-image-1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#id-home .grid-item-2 .home-image-2 {
  z-index: 1;
  transform: translateX(-70%);
  background-color: var(--foreground-color);
  transition: var(--default-transition);
}
#id-home .clip-path-1 {
  margin: var(--nav-height) 0 0 0;
  -webkit-clip-path: polygon(100% 0, 0 0, 0 15%);
          clip-path: polygon(100% 0, 0 0, 0 15%);
}
#id-home .clip-path-2 {
  -webkit-clip-path: polygon(100% 85%, 0% 100%, 100% 100%);
          clip-path: polygon(100% 85%, 0% 100%, 100% 100%);
}

#id-skills {
  position: relative;
  padding: var(--nav-height) 20% 15%;
  width: 100%;
}
#id-skills h2 {
  margin: var(--xxlarge-rem) 0 0 0;
  font-size: var(--large-rem);
  text-align: center;
}
#id-skills .skill-container {
  padding: var(--xlarge-rem) 0 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  -moz-column-gap: var(--xxlarge-rem);
       column-gap: var(--xxlarge-rem);
  row-gap: var(--xxlarge-rem);
}
#id-skills .skill-container a {
  position: relative;
  transform: rotate(45deg);
  box-shadow: 0px 0px 0px 3px var(--primary-color);
  width: var(--large-rhombus-rem);
  height: var(--large-rhombus-rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: var(--default-transition);
}
#id-skills .skill-container a img,
#id-skills .skill-container a div {
  position: absolute;
  transform: rotate(-45deg);
  width: 70%;
  height: 70%;
}
#id-skills .skill-container a img {
  -o-object-fit: cover;
     object-fit: cover;
  visibility: visible;
}
#id-skills .skill-container a div {
  font-size: var(--small-rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--foreground-color);
  visibility: hidden;
}
#id-skills .skill-container a:hover {
  transform: rotate(225deg);
  background-color: var(--primary-color);
  transition: var(--default-transition);
}
#id-skills .skill-container a:hover img {
  visibility: hidden;
}
#id-skills .skill-container a:hover div {
  transform: rotate(-225deg);
  visibility: visible;
}
#id-skills .clip-path-1 {
  -webkit-clip-path: polygon(0 85%, 0% 100%, 100% 100%);
          clip-path: polygon(0 85%, 0% 100%, 100% 100%);
}

#id-works {
  position: relative;
  padding: var(--nav-height) 12% 15%;
  width: 100%;
}
#id-works .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: var(--xlarge-rem);
}
#id-works .grid-container .grid-item {
  position: relative;
}
#id-works .grid-container .grid-item .grid-title {
  width: 100%;
  height: 15%;
  font-size: var(--medium-rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
#id-works .grid-container .grid-item img {
  width: 100%;
  height: 85%;
  -o-object-fit: fill;
     object-fit: fill;
}
#id-works .grid-container .grid-item .grid-description {
  visibility: hidden;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  padding: 0 10%;
  width: 100%;
  height: 85%;
  font-size: var(--medium-rem);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  transition: all 0s ease-in-out;
}
#id-works .grid-container .grid-item .grid-description div:first-child {
  font-size: var(--medium-rem);
  color: var(--background-color);
}
#id-works .grid-container .grid-item .grid-description .links-container {
  margin: var(--large-rem) 0 0 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
#id-works .grid-container .grid-item .grid-description .links-container .link {
  box-shadow: none;
  background-color: var(--background-color);
  color: var(--foreground-color);
  transition: all 0s ease-in-out;
}
#id-works .grid-container .grid-item .grid-description .links-container .link:hover {
  background-color: var(--primary-color);
}
#id-works .grid-container .grid-item .grid-description .links-container .link:hover i {
  color: var(--foreground-color);
}
#id-works .grid-container .grid-item .grid-clip-paths {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 85%;
}
#id-works .grid-container .grid-item .grid-clip-paths .clip-path-1 {
  z-index: 1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 15%);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 15%);
}
#id-works .grid-container .grid-item .grid-clip-paths .clip-path-2 {
  z-index: 1;
  -webkit-clip-path: polygon(0 100%, 100% 85%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 85%, 100% 100%, 0% 100%);
}
#id-works .grid-container .grid-item .grid-clip-paths .clip-path-3 {
  z-index: 0;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  background: linear-gradient(60deg, var(--foreground-color) 50%, var(--foreground-color) 100%);
}
#id-works .grid-container .grid-item:hover .grid-description {
  visibility: visible;
  transition: all 12s ease-in-out;
}
#id-works .grid-container .grid-item:hover .grid-description .links-container .link {
  transition: var(--default-transition);
}
#id-works .grid-container .grid-item:hover .grid-clip-paths .clip-path-1 {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 15%, 0 15%);
          clip-path: polygon(0 0, 100% 0, 100% 15%, 0 15%);
}
#id-works .grid-container .grid-item:hover .grid-clip-paths .clip-path-2 {
  -webkit-clip-path: polygon(0 85%, 100% 85%, 100% 100%, 0 100%);
          clip-path: polygon(0 85%, 100% 85%, 100% 100%, 0 100%);
}
#id-works .grid-container .grid-item:hover .grid-clip-paths .clip-path-3 {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
#id-works .clip-path-4 {
  -webkit-clip-path: polygon(100% 85%, 0% 100%, 100% 100%);
          clip-path: polygon(100% 85%, 0% 100%, 100% 100%);
}

#id-about {
  position: relative;
  padding: var(--nav-height) 20% 20%;
  width: 100%;
}
#id-about .personal-container {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  grid-template-rows: 1fr;
}
#id-about .personal-container .personal-image {
  transform: translate3d(0, 0, 0);
  width: 90%;
  height: 90%;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background: linear-gradient(60deg, var(--primary-color) 50%, var(--primary-color-2) 100%);
  transition: var(--default-transition);
}
#id-about .personal-container .personal-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#id-about .personal-container .personal-image .personal-image-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translate3d(5%, 5%, 0);
  width: 90%;
  height: 90%;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background: linear-gradient(90deg, var(--background-color) 0%, var(--background-color) 100%);
  transition: var(--default-transition);
}
#id-about .personal-container .personal-info {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
#id-about .personal-container .personal-info .personal-paragraph p {
  margin: 0 0 var(--medium-rem) 0;
  font-size: var(--medium-rem);
  line-height: var(--large-rem);
  text-align: justify;
}
#id-about h2 {
  margin: 10% 0 var(--large-rem) 0;
  font-size: var(--large-rem);
  text-align: center;
}
#id-about .timeline-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: var(--large-rem);
}
#id-about .timeline-container span {
  color: var(--primary-color);
  transition: var(--default-transition);
}
#id-about .timeline-container ul {
  margin: var(--large-rem) 0 0 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
#id-about .timeline-container ul .timeline-when {
  padding: var(--xsmall-rem);
  font-size: var(--medium-rem);
  text-transform: uppercase;
  display: block;
  background: linear-gradient(90deg, var(--primary-color) 0%, var(--primary-color-2) 100%);
  color: var(--background-color);
  transition: var(--default-transition);
}
#id-about .timeline-container ul .timeline-what {
  margin-top: var(--xsmall-rem);
  font-size: var(--medium-rem);
  font-weight: 600;
  text-transform: uppercase;
}
#id-about .timeline-container ul .timeline-where {
  margin-top: var(--xsmall-rem);
  font-size: var(--medium-rem);
  font-weight: 400;
}
#id-about .timeline-container ul .timeline-where a {
  color: var(--foreground-color);
  text-decoration: none;
  transition: var(--default-transition);
}
#id-about .timeline-container ul .timeline-where a:hover {
  color: var(--primary-color);
  text-decoration: underline;
  transition: var(--default-transition);
}
#id-about .clip-path-1 {
  -webkit-clip-path: polygon(0 85%, 0% 100%, 100% 100%);
          clip-path: polygon(0 85%, 0% 100%, 100% 100%);
}

#id-contact {
  position: relative;
  padding: var(--nav-height) 15% 25%;
  width: 100%;
}
#id-contact h2 {
  font-size: var(--medium-rem);
  line-height: var(--large-rem);
  text-align: center;
}
#id-contact ul {
  margin: var(--xxlarge-rem) 0 0 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  -moz-column-gap: var(--large-rem);
       column-gap: var(--large-rem);
  row-gap: var(--xxlarge-rem);
}
#id-contact ul li {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#id-contact ul li .link {
  box-shadow: 0px 0px 0px 3px var(--primary-color);
  width: var(--large-rhombus-rem);
  height: var(--large-rhombus-rem);
}
#id-contact ul li .link i {
  font-size: var(--xlarge-rem);
}
#id-contact ul li .contact-title {
  margin: var(--xlarge-rem) 0 0 0;
  font-size: var(--medium-rem);
}
#id-contact ul li .contact-link, #id-contact ul li span {
  margin: var(--medium-rem) 0 0 0;
  font-size: var(--medium-rem);
}
#id-contact ul li .contact-link {
  color: var(--foreground-color);
  text-decoration: underline;
  transition: var(--default-transition);
}
#id-contact ul li .contact-link:hover {
  color: var(--primary-color);
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  transition: var(--default-transition);
}
#id-contact .clip-path-1 {
  -webkit-clip-path: polygon(100% 85%, 0% 100%, 100% 100%);
          clip-path: polygon(100% 85%, 0% 100%, 100% 100%);
}

/*************************** CSS CLASSES ******************************/
.clip-path {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(60deg, var(--primary-color) 50%, var(--primary-color-2) 100%);
  transition: var(--default-transition);
}

.link-cv {
  width: 9rem;
  height: 3rem;
  font-size: var(--small-rem);
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, var(--primary-color) 0%, var(--primary-color-2) 100%);
  transition: var(--default-transition);
  cursor: pointer;
}
.link-cv a {
  padding: var(--small-rem);
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background-color);
  text-decoration: none;
  transition: var(--default-transition);
}
.link-cv a div:first-child {
  margin: 0 var(--xsmall-rem) 0 0;
}
.link-cv:hover {
  box-shadow: 0px 0px 4px 2px var(--foreground-color);
}
.link-cv:hover a {
  color: var(--foreground-color);
}

.link {
  transform: rotate(45deg);
  box-shadow: 0px 0px 0px 2px var(--primary-color);
  width: var(--small-rhombus-rem);
  height: var(--small-rhombus-rem);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--foreground-color);
  text-decoration: none;
  transition: var(--default-transition);
  cursor: pointer;
}
.link i {
  transform: rotate(-45deg);
  width: inherit;
  height: inherit;
  font-size: var(--large-rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.link:hover {
  transform: rotate(225deg);
  background-color: var(--primary-color);
  transition: var(--default-transition);
}
.link:hover i {
  transform: rotate(-225deg);
  color: var(--background-color);
}

.section-title {
  margin: 3rem 0 5rem 0;
  text-align: center;
}
.section-title h1 {
  position: relative;
  z-index: 9;
  text-transform: uppercase;
  font-size: var(--title-rem);
}
.section-title h1 span {
  color: var(--primary-color);
}
.section-title h1 i {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--grey-color);
  font-size: var(--title-icon-rem);
}

@media screen and (max-width: 1210px) {
  :root {
    --title-rem: 2.4rem;
    --large-rhombus-rem: 4.5rem;
    --medium-rem: 1.1rem;
    --large-rem: 1.5rem;
    --xlarge-rem: 2.3rem;
    --xxlarge-rem: 4.1rem;
  }
  #id-works .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: var(--xxlarge-rem);
  }
}
@media screen and (max-width: 1050px) {
  #id-about .personal-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: var(--large-rem);
  }
  #id-about .personal-container .personal-image {
    margin: 0 0 0 25%;
    transform: translate3d(0, 0, 0);
    width: 50%;
    height: 100%;
  }
  #id-about .timeline-container {
    margin: 0 0 var(--xxlarge-rem) 0;
  }
}
@media screen and (max-width: 880px) {
  :root {
    --title-rem: 2.2rem;
    --title-icon-rem: 5.5rem;
    --small-rhombus-rem: 2.5rem;
    --large-rhombus-rem: 4rem;
    --nav-rem: 0.9rem;
    --xsmall-rem: 0.35rem;
    --small-rem: 0.8rem;
    --medium-rem: 1rem;
    --large-rem: 1.2rem;
    --xlarge-rem: 2rem;
    --xxlarge-rem: 3.8rem;
  }
}
@media screen and (max-width: 700px) {
  :root {
    --nav-rem: 1.2rem;
  }
  nav ul li a div {
    display: none;
  }
  #id-home {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  #id-home .grid-item-1 {
    padding: var(--nav-height) 15% 0 15%;
  }
  #id-home .grid-item-2 .home-image {
    width: 100%;
    height: 90%;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
  #id-home .grid-item-2 .home-image-1 {
    transform: translate3d(50%, 0, 0);
  }
  #id-home .grid-item-2 .home-image-2 {
    transform: translate3d(-40%, 0, 0);
  }
  #id-home .clip-path-1 {
    margin: var(--nav-height) 0 0 0;
    -webkit-clip-path: polygon(100% 0, 0 0, 0 10%);
            clip-path: polygon(100% 0, 0 0, 0 10%);
  }
  #id-home .clip-path-2 {
    -webkit-clip-path: polygon(100% 90%, 0% 100%, 100% 100%);
            clip-path: polygon(100% 90%, 0% 100%, 100% 100%);
  }
  #id-skills {
    padding: var(--nav-height) 20% 40%;
  }
  #id-works {
    padding: var(--nav-height) 15% 60%;
  }
  #id-works .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: var(--xlarge-rem);
  }
  #id-works .clip-path-4 {
    -webkit-clip-path: polygon(100% 90%, 0% 100%, 100% 100%);
            clip-path: polygon(100% 90%, 0% 100%, 100% 100%);
  }
  #id-about {
    padding: var(--nav-height) 20% 25%;
  }
  #id-about .personal-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    row-gap: var(--large-rem);
  }
  #id-about .personal-container .personal-image {
    margin: 0 0 0 5%;
    transform: translate3d(0, 0, 0);
    width: 90%;
    height: 90%;
  }
  #id-about .personal-container .personal-info {
    justify-content: space-between;
  }
  #id-about h2 {
    margin: 30% 0 var(--large-rem) 0;
  }
  #id-about .timeline-container {
    margin: 0 0 7rem 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: var(--xsmall-rem);
  }
  #id-about .clip-path-1 {
    -webkit-clip-path: polygon(0 92%, 0% 100%, 100% 100%);
            clip-path: polygon(0 92%, 0% 100%, 100% 100%);
  }
  #id-contact {
    padding: var(--nav-height) 15% 50%;
  }
  #id-contact ul {
    -moz-column-gap: var(--xxlarge-rem);
         column-gap: var(--xxlarge-rem);
  }
  #id-contact .clip-path-1 {
    -webkit-clip-path: polygon(100% 92%, 0% 100%, 100% 100%);
            clip-path: polygon(100% 92%, 0% 100%, 100% 100%);
  }
}
@media screen and (max-width: 550px) {
  :root {
    --title-rem: 2rem;
    --title-icon-rem: 5.2rem;
    --small-rhombus-rem: 2.3rem;
    --large-rhombus-rem: 3.6rem;
    --nav-rem: 1rem;
    --xlarge-rem: 1.8rem;
    --xxlarge-rem: 3.6rem;
  }
  nav {
    justify-content: center;
  }
  nav .home-logo {
    display: none;
  }
  #id-home {
    padding: var(--nav-height) 0 0 0;
  }
  #id-home .grid-item-1 {
    padding: var(--nav-height) 15% 0 15%;
  }
  #id-home .grid-item-1 h1 {
    font-size: 1.5rem;
  }
  #id-home .clip-path-1 {
    margin: var(--nav-height) 0 0 0;
    -webkit-clip-path: polygon(100% 0, 0 0, 0 8%);
            clip-path: polygon(100% 0, 0 0, 0 8%);
  }
  #id-home .clip-path-2 {
    -webkit-clip-path: polygon(100% 92%, 0% 100%, 100% 100%);
            clip-path: polygon(100% 92%, 0% 100%, 100% 100%);
  }
  #id-skills .skill-container {
    padding: var(--xxlarge-rem) 0 0 0;
  }
  #id-skills .clip-path-1 {
    -webkit-clip-path: polygon(0 92%, 0% 100%, 100% 100%);
            clip-path: polygon(0 92%, 0% 100%, 100% 100%);
  }
  #id-works .clip-path-4 {
    -webkit-clip-path: polygon(100% 92%, 0% 100%, 100% 100%);
            clip-path: polygon(100% 92%, 0% 100%, 100% 100%);
  }
  .link-cv {
    width: 7rem;
    height: 2.5rem;
  }
}
@media screen and (max-width: 360px) {
  :root {
    --title-rem: 1.8rem;
    --title-icon-rem: 5rem;
    --small-rhombus-rem: 2rem;
    --large-rhombus-rem: 3.2rem;
    --small-rem: 0.75rem;
    --medium-rem: 0.9rem;
    --large-rem: 1.1rem;
    --xlarge-rem: 1.6rem;
    --xxlarge-rem: 3.4rem;
  }
}/*# sourceMappingURL=styles.css.map */