:root {
  --nav-height: 4rem;
  --title-rem: 2.8rem;
  --title-icon-rem: 6rem;
  --small-rhombus-rem: 3rem;
  --large-rhombus-rem: 5rem;
  --profile-rhombus-rem: 20rem;
  --xsmall-rem: 0.4rem;
  --small-rem: 1rem;
  --medium-rem: 1.2rem;
  --large-rem: 1.6rem;
  --xlarge-rem: 2.4rem;
  --xxlarge-rem: 4.2rem;
  --nav-background-color: #000000;
  --nav-foreground-color: #FFFFFF;
  --primary-color: #2da89e;
  --foreground-color: #FFFFFF;
  --background-color: #191d2b;
  --grey-color: #454e56;
  --default-transition: all .4s ease-in-out;
}

.light-theme {
  --nav-background-color: #000000;
  --nav-foreground-color: #FFFFFF;
  --primary-color: #F56692;
  --foreground-color: #191d2b;
  --background-color: #dbe1e8;
  --grey-color: #b2becd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: "Lato", sans-serif;
  font-size: var(--small-rem);
  transition: var(--default-transition);
  overflow-x: hidden;
}

nav {
  position: fixed;
  z-index: 10;
  padding: 0 var(--large-rem);
  width: 100%;
  height: var(--nav-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-background-color);
  color: var(--nav-foreground-color);
}
nav .home-logo {
  height: 100%;
}
nav .home-logo a {
  height: inherit;
  font-size: var(--medium-rem);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--nav-foreground-color);
  text-decoration: none;
  transition: var(--default-transition);
}
nav .home-logo a:hover {
  color: var(--primary-color);
  transition: var(--default-transition);
}
nav ul {
  height: inherit;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav ul li {
  height: inherit;
}
nav ul li a {
  padding: var(--medium-rem);
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--nav-foreground-color);
  text-decoration: none;
  transition: var(--default-transition);
  /*
  lord-icon{
      width: var(--medium-rem);
      height: inherit;
  }*/
}
nav ul li a div:first-child {
  margin: 0 var(--xsmall-rem) 0 0;
}
nav ul li a:hover {
  background-color: var(--primary-color);
  color: var(--nav-background-color);
  cursor: pointer;
}

#id-home {
  position: relative;
  padding: var(--nav-height) 0 0 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}
#id-home .grid-item-1 {
  padding: 0 5% var(--nav-height) 35%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
}
#id-home .grid-item-1 p {
  font-size: var(--large-rem);
}
#id-home .grid-item-1 h1 {
  margin: var(--small-rem) 0 var(--xlarge-rem) 0;
  font-size: var(--title-rem);
}
#id-home .grid-item-1 span {
  color: var(--primary-color);
}
#id-home .grid-item-1 .links-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
#id-home .grid-item-1 .links-container .link {
  margin: 0 0 0 var(--xlarge-rem);
}
#id-home .grid-item-2 {
  padding: 0 0 var(--nav-height) 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  transition: var(--default-transition);
}
#id-home .grid-item-2 .home-image {
  width: 100%;
  height: 80%;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
#id-home .grid-item-2 .home-image-1 {
  transform: translateX(10%);
  background-color: var(--primary-color);
  transition: var(--default-transition);
}
#id-home .grid-item-2 .home-image-1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#id-home .grid-item-2 .home-image-2 {
  z-index: -1;
  transform: translateX(-80%);
  background-color: var(--foreground-color);
  transition: var(--default-transition);
}
#id-home .clip-path-1 {
  margin: var(--nav-height) 0 0 0;
  -webkit-clip-path: polygon(100% 0, 0 0, 0 15%);
          clip-path: polygon(100% 0, 0 0, 0 15%);
}
#id-home .clip-path-2 {
  -webkit-clip-path: polygon(100% 85%, 0% 100%, 100% 100%);
          clip-path: polygon(100% 85%, 0% 100%, 100% 100%);
}

#id-skills {
  position: relative;
  padding: var(--nav-height) 20% 15%;
  width: 100%;
}
#id-skills h2 {
  margin: var(--xxlarge-rem) 0 0 0;
  font-size: var(--large-rem);
  text-align: center;
}
#id-skills .skill-container {
  padding: var(--xlarge-rem) 0 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  -moz-column-gap: var(--xxlarge-rem);
       column-gap: var(--xxlarge-rem);
  row-gap: var(--xxlarge-rem);
}
#id-skills .skill-container a {
  position: relative;
  transform: rotate(45deg);
  box-shadow: 0px 0px 0px 3px var(--primary-color);
  width: var(--large-rhombus-rem);
  height: var(--large-rhombus-rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: var(--default-transition);
}
#id-skills .skill-container a img,
#id-skills .skill-container a div {
  position: absolute;
  transform: rotate(-45deg);
  width: 70%;
  height: 70%;
}
#id-skills .skill-container a img {
  -o-object-fit: cover;
     object-fit: cover;
  visibility: visible;
}
#id-skills .skill-container a div {
  font-size: var(--small-rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--foreground-color);
  visibility: hidden;
}
#id-skills .skill-container a:hover {
  transform: rotate(225deg);
  background-color: var(--primary-color);
  transition: var(--default-transition);
}
#id-skills .skill-container a:hover img {
  visibility: hidden;
}
#id-skills .skill-container a:hover div {
  transform: rotate(-225deg);
  visibility: visible;
}
#id-skills .clip-path-1 {
  -webkit-clip-path: polygon(0 85%, 0% 100%, 100% 100%);
          clip-path: polygon(0 85%, 0% 100%, 100% 100%);
}

#id-works {
  position: relative;
  padding: var(--nav-height) 12% 15%;
  width: 100%;
}
#id-works .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: var(--xxlarge-rem);
}
#id-works .grid-container .grid-item {
  position: relative;
  width: 100%;
  height: 100%;
}
#id-works .grid-container .grid-item .grid-title {
  width: 100%;
  height: 15%;
  font-size: var(--medium-rem);
  text-align: center;
}
#id-works .grid-container .grid-item img {
  width: 100%;
  height: 85%;
  -o-object-fit: fill;
     object-fit: fill;
}
#id-works .grid-container .grid-item .grid-description {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  padding: 0 10%;
  width: 100%;
  height: 85%;
  font-size: var(--medium-rem);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  transition: all 0s ease-in-out;
}
#id-works .grid-container .grid-item .grid-description .links-container {
  margin: var(--large-rem) 0 0 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
#id-works .grid-container .grid-item .grid-description .links-container .link {
  background-color: var(--background-color);
  color: var(--foreground-color);
  transition: all 0s ease-in-out;
}
#id-works .grid-container .grid-item .grid-description .links-container .link:hover {
  background-color: var(--foreground-color);
}
#id-works .grid-container .grid-item .grid-description .links-container .link:hover i {
  color: var(--background-color);
}
#id-works .grid-container .grid-item .grid-clip-paths {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 85%;
}
#id-works .grid-container .grid-item .grid-clip-paths .clip-path-1 {
  -webkit-clip-path: polygon(0 0, 0 15%, 100% 0);
          clip-path: polygon(0 0, 0 15%, 100% 0);
}
#id-works .grid-container .grid-item .grid-clip-paths .clip-path-2 {
  -webkit-clip-path: polygon(100% 85%, 0% 100%, 100% 100%);
          clip-path: polygon(100% 85%, 0% 100%, 100% 100%);
}
#id-works .grid-container .grid-item .grid-clip-paths .clip-path-3 {
  -webkit-clip-path: polygon(0 15%, 0 15%, 0 100%, 0% 100%);
          clip-path: polygon(0 15%, 0 15%, 0 100%, 0% 100%);
}
#id-works .grid-container .grid-item:hover .grid-description {
  visibility: visible;
  transition: all 12s ease-in-out;
}
#id-works .grid-container .grid-item:hover .grid-description .links-container .link {
  transition: var(--default-transition);
}
#id-works .grid-container .grid-item:hover .grid-clip-paths .clip-path-1 {
  background-color: var(--foreground-color);
}
#id-works .grid-container .grid-item:hover .grid-clip-paths .clip-path-2 {
  background-color: var(--foreground-color);
}
#id-works .grid-container .grid-item:hover .grid-clip-paths .clip-path-3 {
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
          clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
}
#id-works .clip-path-4 {
  -webkit-clip-path: polygon(100% 85%, 0% 100%, 100% 100%);
          clip-path: polygon(100% 85%, 0% 100%, 100% 100%);
}

#id-about {
  position: relative;
  padding: var(--nav-height) 20% 15%;
  width: 100%;
}
#id-about .personal-container {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  grid-template-rows: 1fr;
}
#id-about .personal-container .personal-image {
  transform: translate3d(0, 0, 0);
  width: 90%;
  height: 90%;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background-color: var(--primary-color);
  transition: var(--default-transition);
}
#id-about .personal-container .personal-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#id-about .personal-container .personal-image .personal-image-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translate3d(5%, 5%, 0);
  width: 90%;
  height: 90%;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background-color: var(--background-color);
  transition: var(--default-transition);
}
#id-about .personal-container .personal-image:hover {
  background-color: var(--foreground-color);
}
#id-about .personal-container .personal-image:hover .personal-image-bg {
  background-color: var(--primary-color);
  transition: var(--default-transition);
}
#id-about .personal-container .personal-info {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
#id-about .personal-container .personal-info .personal-paragraph p {
  margin: 0 0 var(--medium-rem) 0;
  font-size: var(--medium-rem);
  line-height: var(--large-rem);
  text-align: justify;
}
#id-about h2 {
  margin: var(--xxlarge-rem) 0 var(--large-rem) 0;
  font-size: var(--large-rem);
  text-align: center;
}
#id-about .timeline-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: var(--large-rem);
}
#id-about .timeline-container span {
  color: var(--primary-color);
  transition: var(--default-transition);
}
#id-about .timeline-container ul {
  margin: var(--large-rem) 0 0 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
#id-about .timeline-container ul .timeline-when {
  padding: var(--xsmall-rem);
  font-size: var(--small-rem);
  text-transform: uppercase;
  display: block;
  background-color: var(--primary-color);
  color: var(--background-color);
  transition: var(--default-transition);
}
#id-about .timeline-container ul .timeline-what {
  margin-top: var(--xsmall-rem);
  font-size: var(--small-rem);
  font-weight: 600;
  text-transform: uppercase;
}
#id-about .timeline-container ul .timeline-where {
  margin-top: var(--xsmall-rem);
  font-size: var(--small-rem);
  font-weight: 400;
}
#id-about .timeline-container ul .timeline-where a {
  color: var(--foreground-color);
  text-decoration: none;
  transition: var(--default-transition);
}
#id-about .timeline-container ul .timeline-where a:hover {
  color: var(--primary-color);
  text-decoration: underline;
  transition: var(--default-transition);
}
#id-about .clip-path-1 {
  -webkit-clip-path: polygon(0 85%, 0% 100%, 100% 100%);
          clip-path: polygon(0 85%, 0% 100%, 100% 100%);
}

#id-contact {
  position: relative;
  padding: var(--nav-height) 20% 15%;
  width: 100%;
}
#id-contact h2 {
  font-size: var(--medium-rem);
  line-height: var(--large-rem);
  text-align: center;
}
#id-contact ul {
  margin: var(--xxlarge-rem) 0 0 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
#id-contact ul li {
  width: 20%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#id-contact ul li .link {
  box-shadow: 0px 0px 0px 3px var(--primary-color);
  width: var(--large-rhombus-rem);
  height: var(--large-rhombus-rem);
}
#id-contact ul li .link i {
  font-size: var(--xlarge-rem);
}
#id-contact ul li .contact-title {
  margin: var(--xlarge-rem) 0 0 0;
  font-size: var(--small-rem);
}
#id-contact ul li .contact-link,
#id-contact ul li span {
  margin: var(--medium-rem) 0 0 0;
  font-size: var(--small-rem);
}
#id-contact ul li .contact-link {
  color: var(--foreground-color);
  text-decoration: underline;
  transition: var(--default-transition);
}
#id-contact ul li .contact-link:hover {
  color: var(--primary-color);
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  transition: var(--default-transition);
}
#id-contact .clip-path-1 {
  -webkit-clip-path: polygon(100% 85%, 0% 100%, 100% 100%);
          clip-path: polygon(100% 85%, 0% 100%, 100% 100%);
}

/*************************** CSS CLASSES ******************************/
.clip-path {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  transition: var(--default-transition);
}

.link-cv {
  width: 10rem;
  height: 3rem;
  font-size: var(--small-rem);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  transition: var(--default-transition);
  cursor: pointer;
}
.link-cv a {
  padding: var(--small-rem);
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background-color);
  text-decoration: none;
  transition: var(--default-transition);
}
.link-cv a div:first-child {
  margin: 0 var(--xsmall-rem) 0 0;
}
.link-cv:hover {
  box-shadow: 0px 0px 4px 2px var(--foreground-color);
}
.link-cv:hover a {
  color: var(--foreground-color);
}

.link {
  transform: rotate(45deg);
  box-shadow: 0px 0px 0px 2px var(--primary-color);
  width: var(--small-rhombus-rem);
  height: var(--small-rhombus-rem);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--foreground-color);
  text-decoration: none;
  transition: var(--default-transition);
  cursor: pointer;
}
.link i {
  transform: rotate(-45deg);
  width: inherit;
  height: inherit;
  font-size: var(--large-rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.link:hover {
  transform: rotate(225deg);
  background-color: var(--primary-color);
  transition: var(--default-transition);
}
.link:hover i {
  transform: rotate(-225deg);
  color: var(--background-color);
}

.section-title {
  margin: var(--title-rem) 0 var(--title-icon-rem) 0;
  text-align: center;
}
.section-title h1 {
  position: relative;
  text-transform: uppercase;
  font-size: var(--title-rem);
}
.section-title h1 span {
  color: var(--primary-color);
}
.section-title h1 i {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--grey-color);
  font-size: var(--title-icon-rem);
}

@media screen and (max-width: 520px) {
  nav ul li a div {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */