//75% of viewport width
@media only screen and (max-width: 1140px) {
    .home-container {
        .home-left-cont {
            .home-text {
                h1 {
                    font-size: 2rem;
                }

                p {
                    margin-top: 2.5rem;
                    font-weight: 300;
                    line-height: 1.5rem;
                }

                .home-scroll-down {
                    margin-top: 2.5rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 780px) {
    .home-container {
        .home-left-cont {
            .home-text {
                h1 {
                    font-size: 1.5rem;
                }

                p {
                    font-weight: 200;
                }
            }
        }
    }
}

@media only screen and (max-width: 570px) {
    .home-container {
        .home-left-cont {
            .home-text {
                margin-top: 20%;

                h1 {
                    font-size: 1.25rem;
                }

                p {
                    margin-top: 2rem;
                    font-weight: 100;
                    line-height: 1.5rem;
                }

                .home-scroll-down {
                    margin-top: 2rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 430px) {
    header {
        nav {
            padding: 0 1rem 0 1rem;

            .nav-div {
                display: none;
            }
        }
    }

    //Home Section
    .btn-theme {
        top: 5rem;
        right: 1rem;
        border-radius: 50%;
        width: 50px;
        height: 50px;

        i {
            font-size: 1.2rem;
        }
    }

    .home-container {
        grid-template-columns: 1fr;

        .home-left-cont {
            padding: 0 3rem 0 2rem;

            .home-left-shape {
                margin: 0;
                clip-path: polygon(50% 0, 0 0, 0 15%);
            }

            .home-text {
                margin-top: 20%;
                justify-content: flex-start;

                h1 {
                    padding-right: 10rem;
                    font-size: 1.75rem;
                }

                .home-scroll-down {
                    //position: absolute;
                    //bottom: 4%;
                    //left: 4%;
                }
            }
        }

        .home-right-cont {
            padding: 0;

            .home-right-shape {
                clip-path: polygon(100% 85%, 50% 100%, 100% 100%);
            }

            .home-image{
                position: absolute;
                top: 9rem;
                right: 3rem;
                width: 10rem;
                height: 12rem;
            }
        }
    }

    .about-container {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .about-left-cont {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            .about-left-shape {
                top: 0;
                left: 0;
                clip-path: polygon(50% 0, 0 0, 0 15%);
            }
        }
    }
}